[Desktop Entry]
Type=Application
Exec=/home/fusion809/lfs_apps/cycle-wallpaper-shuffle.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Icon=desktop-effects
Name=Shuffle wallpapers (Win+S)
Comment=Cycles GNOME wallpaper on login
