[Desktop Entry]
Name=Kiwimenu settings
Exec=gnome-extensions prefs kiwimenu@kemma
Type=Application
Icon=preferences-theme
DBusActivatable=true
Categories=GNOME;GTK;Utility;
OnlyShowIn=GNOME;
StartupWMClass=KiwiMenu;
StartupNotify=true
