[Desktop Entry]
Name=Alpha pkgs
Comment=Produce a table of custom packages on the system sorted by name alphabetically in ascending order.
Icon=package
Exec=gnome-terminal -- /home/fusion809/lfs_apps/pkgs_table_display alpha
Type=Application
Categories=Development;Utility;
